:ruby
	item = locals["data"]

%h1.entry-title
	backed
	%a{ href: locals["url"] }
		= item["name"]
	(#{item["state"]})

- if locals["extras"]["full_view"]
	%section.entry-content
		%video{ src: eval(item["video"])["high"], controls: true }

		%blockquote
			%p
				= item["blurb"]
