:ruby
	item = locals["data"]

%h1.entry-title
	bookmarked
	%a{ href: locals["url"] }
		= item[:description]

- if locals["extras"]["full_view"]
	%section.entry-content
		- unless item[:extended].empty?
			%blockquote
				%p
					= item[:extended]
