:ruby
	item = locals["data"]
	data = LWithing.weight eval(item["measures"]), true

%h1.entry-title
	weighed in at #{data["weight"].round 1}
	%abbr{ title: "pounds" }
		lbs
	- if data["fat_ratio"]
		(#{data["fat_ratio"].round 1}% body fat)
