#map

:ruby
	activity_points = []
	activity_paths = []

	@locations.each do |item|
		data = { lat: item.lat, lng: item.lng }

		if item.is_path
			activity_paths << data.merge({ type: item.location_type })
		else
			activity_points << data.merge({ name: item.name })
		end
	end

:javascript
	window.activity_points = #{activity_points.to_json};
	window.activity_paths = #{activity_paths.to_json};
