%nav#nameplate
	%a#logo{ href: "/", rel: "home index" }
		Ratafia Currant

	.sun

	- if session[:login]
		%span#logout
			Log out


%nav#timeline

- if @locations && !@locations.empty?
	#map
	#map-size-toggle
