%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		= item_hsl(locals)

	(Missing template: #{locals["activity_type"]}_#{locals["source"]})

	= partial "_item_metadata", locals
