- item = locals["data"]

%h1.entry-title
	liked
	- user = eval(item["user"])
	= succeed "’s" do
		%a{ href: "http://instagram.com/#{user["username"]}" }><
			= user["full_name"]
	photo

- if locals["extras"]["full_view"]
	%section.entry-content
		%a{ href: locals["url"] }
			%img{ src: eval(item["images"])["standard_resolution"]["url"] }

		- if item["caption"]
			%blockquote
				%p
					= nl2br eval(item["caption"])["text"]
