- item = locals["data"]

%h1.entry-title
	posted
	%a{ href: item["url"] }>
		= item["title"]

- if locals["extras"]["full_view"]
	%section.entry-content
		- if item["image_permalink"]
			%a{ href: item["image_permalink"] }
				- photos = eval(item["photos"])
				- photos.each do |photo|
					%img{ src: photo["original_size"]["url"] }

		- if item["caption"] || item["body"]
			%blockquote
				= item["caption"]

				- if item["format"] == "markdown"
					= markdown item["body"]
				- else
					= item["body"]
