- item = locals["data"]

%h1.entry-title.item
	reviewed
	%a.fn.film{ href: locals["url"] }
		= eval(item["title"])["attributes"]["regular"]
	= surround "(", "):" do
		= item["release_year"]

	- rating = item["user_rating"].to_i
	%span.rating{ title: rating }
		- case rating
		- when 0
			not interested
		- when 1
			1 star
		- else
			#{rating} stars
