- item = locals["data"]

%h1.entry-title
	posted the video
	%a{ href: locals["url"] }
		%em.film
			= item["title"]

- if locals["extras"]["full_view"]
	%section.entry-content
		= LVimeo::media item, item_hsl(locals, false)

		%blockquote
			%p
				= nl2br item["description"]
