//= depend_on shared/_mixins

@import "shared/_mixins";

#login form {margin:50px auto 0 auto; width:250px;}
#login input[type=password],
#login input[type=submit],
#login input[type=text] {border:none; box-sizing:border-box; font:inherit; margin:0; width:100%;}
#login input[type=password],
#login input[type=text] {background-color:rgba(#fff, 0.1); box-shadow:inset 0 1px 0 rgba(#000, 0.1), inset 0 -1px 0 rgba(#fff, 0.15); padding:3px;}
#login input[type=password] {margin-top:10px;}
#login input[type=submit] {border-radius:3px; box-shadow:inset 0 1px 0 rgba(#fff, 0.1), inset 0 -1px 0 rgba(#000, 0.15); color:#fff; cursor:pointer; margin-top:30px;}
