@import "shared/mixins";

@charset "utf-8"; /* via John Gruber */

* {margin:0; padding:0;}

html,
body {background:#371d10;}
body {color:#ab8876; cursor:default; font-family:museo-sans-1, museo-sans-2, "Trebuchet MS", Arial, sans-serif; font-weight:500; line-height:1.55em;}

/* 22px baseline */
/* *** 320px+ *** */
@media all and (max-width:480px) {
}
/* *** 480px+ *** */
@media all and (min-width:481px) {
}
@media all and (min-width:481px) and (max-width:640px) {
}
@media all and (max-width:640px) {
	#nameplate {position:relative;}
	.bottom {margin-left:25px; margin-right:25px;}
	.hentry .meta {font-size:0.9em; margin-right:10px;}
}
/* *** 640px+ *** */
@media all and (min-width:641px) {
	body {padding-bottom:62px; padding-top:90px;}
	#nameplate,
	.pagination {position:fixed;}
	.hentry .meta {font-size:0.8em;}
}
@media all and (min-width:641px) and (max-width:1024px) {
}
@media all and (max-width:1024px) {
	body {font-size:11pt;}
	.hentry .entry-content h2 {font-size:1.1em;}
}
/* 26px baseline */
/* *** 1024px+ *** */
@media all and (min-width:1025px) {
	body {font-size:13pt;}
	.hentry .entry-content h2 {font-size:1em; margin-bottom:25px; margin-top:52px;}
	.hentry .entry-content h2 + p {margin-top:25px;}
	.hentry .entry-content figure, .hentry .entry-content ol, .hentry .entry-content p, .hentry .entry-content ul {margin-bottom:26px; margin-top:26px;}
	.hentry .meta {margin-top:30px;}
	.bottom .copyright {margin-top:26px;}
}
@media all and (min-width:1025px) and (max-width:1399px) {
}
/* *** 1400px+ *** */
@media all and (min-width:1400px) {
}

a {border-bottom:1px solid #c12d2d; color:#c12d2d; padding:1px 1px 0 1px; text-decoration:none;}
a:hover {background-color:#640a00; color:#ffa2a2;}
abbr.smallcaps, strong {font-size:0.8em; letter-spacing:0.1em; line-height:1.25em; text-transform:uppercase;}
address, cite {font-style:normal;}
article, footer, header, nav, section {display:block;} /* html5 */
code {font-family:Inconsolata, Monaco, monospace; font-size:0.9em; line-height:1.6em;}
h1 + .copy > h2:first-child {margin-top:0.9em;}
h2 {font-weight:700; line-height:1.6em; margin:42px 0 -1px 0;}
hr {border:none; border-top:1px solid #ab8876; margin:32px auto 33px auto; width:20%;}
ins {background-color:rgba(171, 136, 118, .13); /* #ab8876 */ text-decoration:none;}
ins:before {content:"[";}
ins:after {content:"]"; }
q:before {content:open-quote;}
q:after {content:close-quote;}
q:lang(de), q:lang(deu) {quotes:"„" "“" "‚" "‘";}
q:lang(en), q:lang(eng) {quotes:"‘" "’" "“" "”";}
q:lang(en-GB) {quotes:"‘ " " ’" "“ " " ”";}
q:lang(en-US) {quotes: "“" "”" "‘" "’";}
q:lang(fr), q:lang(fra) {quotes:"« " " »";}
q:lang(ru), q:lang(rus) {quotes:"«" "»" "„" "“";}
strong {font-weight:normal;}
.clear {clear:both;}

#nameplate {@include shadow(0 3px 3px 0 rgba(0, 0, 0, 0.2)); background-color:#371d10; border-top:10px solid #aa5a32; padding:20px 0; text-align:center; top:0; width:100%; z-index:10;}
#nameplate a {background:none; border-bottom:none; font-family:chaparral-pro-1,chaparral-pro-2, "Chaparral Pro", Times, "Times New Roman", serif; line-height:1em; text-transform:lowercase;}
#nameplate #logo {font-size:40px;}

.hfeed {position:relative; z-index:5;}
.hentry {@include vertical_gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0)); min-height:120px; padding:10px 10px 10px 100px; position:relative;}
.hentry.light {color:#000;}
.hentry.light a {color:#333;}
.hentry.mid {color:#555;}
.hentry.mid a {color:#666;}
.hentry.dark {color:#d0d0d0;}
.hentry.dark a {color:#f0f0f0;}
.hentry + .hentry {@include shadow(inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2));}
.hentry blockquote {border-left:1px solid transparent; border-right:1px solid transparent; margin:0 auto; max-width:500px; padding:0 10px;}
.hentry.light blockquote {border-color:#000;}
.hentry.mid blockquote {border-color:#666;}
.hentry.dark blockquote {border-color:#d0d0d0;}
.hentry figure, .hentry ol, .hentry p, .hentry ul {clear:both; margin:22px 0;}
.hentry .entry-title {font-weight:normal; line-height:1.9em; margin-bottom:13px;}
.hentry + .hentry .entry-title {margin-bottom:14px;}
.hentry .entry-title a {border:none; margin-left:-1px;}
.hentry .entry-title code, h2 code {font-size:inherit;}
.hentry .entry-content {word-wrap:break-word;}
.hentry .entry-content > figure:first-child, .hentry .entry-content > p:first-child, .hentry .entry-content > blockquote:first-child > p:first-child {margin-top:9px;}
.hentry .entry-content img {display:inline-block; margin:0 auto; max-width:100%;}
.hentry .entry-content a img {background-color:#371d10; border:2px solid #c12d2d;}
.hentry .entry-content pre {margin-bottom:-1px; padding-top:1px;}
.hentry .keywords, .hentry .keywords li {display:inline;}
.hentry .keywords {line-height:1.55em; list-style:none;}
.hentry .keywords li {float:right; margin-left:0.5em;}
.hentry .meta {line-height:1.25em; margin-top:25px; text-align:right;}
.hentry .updated {font-size:11pt; left:10px; line-height:1.55em; position:absolute; top:10px; width:80px;}
.hentry .updated .time,
.hentry .updated .day_month,
.hentry .updated .year {display:inline-block;}
.hentry .updated .time {}
.hentry .updated .day_month {font-size:0.9em;}
.hentry .updated .year {font-size:0.8em;}
.hentry .observation .icon {left:10px; position:absolute; top:81px;}
.hentry .meta ul, .hentry .meta p {margin:0.5em 0;}

.album, .book, .film, .game, .magazine, .newspaper, .programme {font-style:italic;}

.pagination {@include shadow(0 -3px 3px 0 rgba(0, 0, 0, 0.2)); background-color:#371d10; bottom:0; padding:20px 0; text-align:center; width:100%; z-index:10;}

.bottom {margin-top:5.05em;}
.bottom .copyright {margin-top:22px;}
