- permalink = "/activities/#{locals["id"]}"
- time = locals["updated_at"]
- extras = locals["extras"]

%time.updated{ datetime: time.iso8601, pubdate: "" }
	%a.time{ href: permalink, rel: "bookmark" }><
		= time.strftime "%l:%M %P"
	%span.day_month
		= time.strftime "%e %B"
	%span.year
		= time.strftime "0%Y"

- weather = Weather::nearest_observation locals["created_at"],
		extras["observations"]
- if weather
	%span.observation
		%span.icon
			%img{ src: Weather::icon_url(weather["data"]["icon"]) }
