!!! 5
%html{ lang: "en", class: "no-js", "xmlns:og" => "//ogp.me/ns#" }
	%head{ profile: "//gmpg.org/xfn/11" }
		= haml :"_header", layout: false

	%body
		%nav#nameplate
			%a#logo{ href: "//ratafia.info", rel: "home index" }
				Ratafia Currant

		#content.hfeed
			= yield

		= haml :"_footer", layout: false
