!!! 5
%html{ lang: "en", class: "no-js", "xmlns:og" => "//ogp.me/ns#" }
	%head{ profile: "//gmpg.org/xfn/11" }
		= haml :"_header", layout: false

	%body
		%nav#nameplate
			%a#logo{ href: "/", rel: "home index" }
				Ratafia Currant

		%nav#timeline

		= partial("partials/_map") if @locations && !@locations.empty?

		#content.hfeed
			= yield

		= haml :"_footer", layout: false
