!!! 5
%html{ lang: "en", class: "no-js", "xmlns:og" => "//ogp.me/ns#" }
	%head{ profile: "//gmpg.org/xfn/11" }
		= partial "partials/_header"

	%body
		= partial "partials/_subheader"

		#content.hfeed
			= yield

		= partial "partials/_footer"
