!!! 5
%html{ lang: "en", class: "no-js", "xmlns:og" => "//ogp.me/ns#" }
	%head{ profile: "//gmpg.org/xfn/11" }
		= partial "partials/_header"

	%body#login
		%nav#nameplate
			%a#logo{ href: "/", rel: "home index" }
				Ratafia Currant

		= yield

		= partial "partials/_footer"
		= javascript_script_tag "assets/helpers/login.js"
